/*******************/
/* Main formatting */
/*******************/

body {
	background-color:#000000;
	color: #ffffff;
	margin: 0px;
    padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	padding-top: 8em;
	padding-bottom: 6em;
}

.topline {
	color: #000000;
	font-size: 2em;
}

h1 {
	text-align:center;
}

section {
	flex: 1;
	text-align:center;
}

/******************/
/* Format the nav */
/******************/
.mainnav {
	top:0px;
	background-color: #000000;
	overflow: hidden;
	position:fixed;
	width:100%;
	transition: top 0.3s;
	display:flex;
	justify-content: left;
	align-items: center;
}

.navlist {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: baseline;
}

li {
	background-color: #000000;
}

li a {
	color: #5f99e6;
	font-family: 'Black Ops One', cursive;
	font-size: 2em;
	text-decoration: none;
	line-height:3em;
}

li a:first-child {
	padding-left:1em;
	padding-right:1em;
}

.menuicon {
	display:inline-flex;
	width: 35px;
	height: 5px;
	background-color: #5f99e6;
	margin: 6px 0;
}

.navicon {
	margin-left: auto;
	color: #5f99e6;
	font-family: 'Black Ops One', cursive;
	font-size: 4em;
	text-decoration: none;
	height: 50px;
	line-height:50px;
	padding-right: 1em;
}

.navlogo {
	padding-left: 20px;
}

/*********************/
/* Mobile formatting */
/*********************/


/********** Large devices only **********/
@media (min-width: 1350px) {

	/***************************************/
	/* Used for the underlining of the nav */
	/***************************************/

	li a {
		position: relative;
	}
	
	li a::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		border-radius: 4px;
		background-color: #5f99e6;
		bottom: 0;
		left: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}
	
	li a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
	}

	.navicon {
		display: none;
	}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1349px) {
	/* body {
		background-color: red;
	} */

	.navlist {
		position: fixed;
        left: -100%;
        top: 8em;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
	}
	
	.navlist.active {
        left: 0;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/* body {
		background-color: blue;
	} */

	.navlist {
		position: fixed;
        left: -100%;
        top: 8em;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
	}
	
	.navlist.active {
        left: 0;
    }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/* body {
		background-color: green;
	} */

	.navlist {
		position: fixed;
        left: -100%;
        top: 8em;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
	}
	
	.navlist.active {
        left: 0;
    }

}